<!doctype html>
<html lang="en">

<% const title="Waltz" %>
  <% const tagline="An Elegant Danceball for all crypto users" %>
    <% const url="https://waltz.com" %>
      <% const
        description="A protocol that enables users to take “steps” among three different aspects of crypto just like dancing waltz."
        %>
        <% const image="https://waltz.com/images/card-image.jpg" %>

          <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="robots" content="index, follow">

            <!-- Bootstrapped CSS / JS -->
            <link href="css/style.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
              media="print" onload="this.media='all'">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
              crossorigin="anonymous"></script>

            <!-- Web Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link
              href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quattrocento:wght@400;700&display=swap"
              class="webfont">

            <title>
              <%= title %> - <%= tagline %>
            </title>
            <meta name="description" content="<%= description %>">

            <!-- Open Graph Tags -->
            <meta property="og:title" content="<%= title %> - <%= tagline %>" />
            <meta property="og:type" content="website" />
            <meta property="og:image" content="<%= image %>" />
            <meta property="og:description" content="<%= description %>" />
            <meta property="og:locale" content="en-US" />
            <meta property="og:site_name" content="<%= title %>" />
            <meta property="og:url" content="<%= url %>" />

            <!-- Twitter Cards -->
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@Plasm_Network">
            <meta name="twitter:title" content="<%= title %> - <%= tagline %>">
            <meta name="twitter:description" content="<%= description %>">
            <meta name="twitter:image" content="<%= image %>">
            <meta property="twitter:url" content="<%= url %>" />
            <meta name="twitter:creator" content="@Plasm_Network">

            <!-- Favicon -->
            <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
            <link rel="manifest" href="images/favicon/site.webmanifest">
            <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#2f251d">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="theme-color" content="#ffffff">
          </head>

          <body>
            <%- include('_svg-defs'); %>

              <div class="hero-bg">

                <header class="page-header pt-sm-2 w-100">
                  <div class="container-xl">
                    <nav class="navbar navbar-expand-lg">
                      <div class="container-fluid p-0">
                        <span class="navbar-brand">
                          <svg class="brand-logo">
                            <use xlink:href="#brand-logo-male" class="bland-logo-male"></use>
                            <use xlink:href="#brand-logo-female" class="bland-logo-female"></use>
                          </svg>
                        </span>
                        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                          aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav fw-bolder">
                            <li class="nav-item">
                              <a class="nav-link" href="#economy">Waltz Economy</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#from-the-blog">Blog</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#community">Community</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#faq">FAQ</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                  </div>
                </header>

                <section id="hero" class="d-flex align-items-center w-100">
                  <div class="container pt-5">
                    <div class="hero-inner ps-sm-4 text-center text-sm-start">
                      <h1 class="mb-3 mb-sm-5">
                        <span>An Elegant <br></span>
                        <span>Danceball <br></span>
                        <span>For All Crypto Users</span>
                      </h1>
                      <div class="text-center">
                        <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-gradient btn-lg">
                          Launch App
                        </a>
                      </div>
                    </div>
                  </div>
                </section>

              </div><!-- .hero-bg -->

              <section id="economy" class="gradient-bg">
                <div class="gradient-bg__inner">
                  <p class="text-center text-white container-md mb-5">A protocol that enables users to take “steps”
                    among
                    three
                    different
                    aspects of
                    crypto just like
                    dancing waltz.</p>
                  <div class="container-xl">

                    <h2 class="text-center mb-5">Three Steps in Waltz Economy</h2>
                    <div class="text-center economy__image">
                      <picture>
                        <source srcset="images/waltz-economy.webp" type="image/webp">
                        <source srcset="images/waltz-economy.png" type="image/png">
                        <img loading="lazy" src="images/waltz-economy.png" alt="Three Steps in Waltz Economy image">
                      </picture>
                    </div>
                    <div class="economy__three-features">
                      <div>
                        <div class="mb-4">
                          <picture>
                            <source srcset="images/for-crypto-traders.webp" type="image/webp">
                            <source srcset="images/for-crypto-traders.png" type="image/png">
                            <img loading="lazy" src="images/for-crypto-traders.webp" alt="For Crypto Traders image"
                              class="w-100">
                          </picture>
                        </div>
                        <h3 class="border-bottom pb-3 mb-3 fs-2">
                          For Crypto Traders
                          <small class="d-block text-white mt-1 fs-6 fw-normal">Lending
                            for
                            Tax
                            saving</small>
                        </h3>
                        <p>Users are able to borrow zETH (wrapped ETH with which holders receive WLZ tokens) by pledging
                          ETH
                          as collateral and borrowing ETH by pledging zETH as collateral.<br>
                          With this mechanism, there is no overcollateralization nor liquidation of collateral.</p>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                          Learn more <i class="bi bi-arrow-right"></i>
                        </a>
                      </div>
                      <div>
                        <div class="mb-4">
                          <picture>
                            <source srcset="images/for-defi-farmers.webp" type="image/webp">
                            <source srcset="images/for-defi-farmers.png" type="image/png">
                            <img loading="lazy" src="images/for-defi-farmers.png" alt="For DeFi Farmers image"
                              class="w-100">
                          </picture>
                        </div>
                        <h3 class="border-bottom pb-3 mb-3 fs-2">
                          For DeFi Farmers
                          <small class="d-block text-white mt-1 fs-6 fw-normal">Effective Farming of WALTZ Token</small>
                        </h3>
                        <p>By providing liquidity to zETH and its paired assets of a certain DEX, users receive much
                          more
                          WLZ tokens as a reward. </p>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                          Learn more <i class="bi bi-arrow-right"></i>
                        </a>
                      </div>
                      <div>
                        <div class="mb-4">
                          <picture>
                            <source srcset="images/for-etj-hodler.webp" type="image/webp">
                            <source srcset="images/for-etj-hodler.png" type="image/png">
                            <img loading="lazy" src="images/for-etj-hodler.png" alt="For ETH HODLer image"
                              class="w-100">
                          </picture>
                        </div>
                        <h3 class="border-bottom pb-3 mb-3 fs-2">
                          For ETH HODLer
                          <small class="d-block text-white mt-1 fs-6 fw-normal">Fixed Rate Bond</small>
                        </h3>
                        <p>Users are able to receive fixed rate interest by paying zETH (or rather staking it) in the
                          contract. The interest of fixed rate bond is relatively high comparing with just holding zETH.
                          The number of fixed rate bond is limited and you need to hold WLZ tokens to purchase it.</p>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                          Learn more <i class="bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                    <div class="economy__governance container-lg d-sm-flex border p-4 p-sm-5">
                      <div class="me-sm-4 px-sm-3 px-lg-5 text-center py-2 py-sm-0 mb-3 mb-sm-0"><img
                          src="images/governance-logo.svg" alt="Governance image"></div>
                      <div>
                        <h3 class="fs-2">Governance</h3>
                        <p>Important aspects such as the parameter or the interests and the interest rate of the fixed
                          rate bond are decided by the governance mechanism of the protocol.</p>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                          Learn more <i class="bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section id="status">
                <div class="status__inner">
                  <dl class="container-lg status-container mb-0 lh-1">
                    <div class="d-flex flex-column text-center">
                      <dt class="order-2 fw-normal text-white fs-5">Unique users</dt>
                      <dd class="order-1 text-primary mb-3">135,442</dd>
                    </div>
                    <div class="d-flex flex-column text-center">
                      <dt class="order-2 fw-normal text-white fs-5">Unique users</dt>
                      <dd class="order-1 text-primary mb-3">24,937</dd>
                    </div>
                    <div class="d-flex flex-column text-center">
                      <dt class="order-2 fw-normal text-white fs-5">Unique users</dt>
                      <dd class="order-1 text-primary mb-3">24,937</dd>
                    </div>
                  </dl>
                </div>
              </section>

              <section id="from-the-blog">
                <h2 class="text-center mb-3 mb-sm-4 text-secondary container-xl pt-5">From the Blog</h2>
                <p class="text-center container-sm text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                  elit. Ipsa
                  libero labore natus atque, ducimus sed.</p>
                <ul class="container-xl my-5 blog-post">

                  <li>
                    <a href="#" class="d-block p-3 p-lg-4">
                      <div class="blog-post__image mb-4">
                        <img loading="lazy" src="images/no-image.jpg" alt="blog post image">
                      </div>
                      <h3 class="fs-5 text-secondary fw-bold">Boost your conversion rate</h3>
                      <p class="fs-6 blog-post__description">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Architecto accusantium
                        praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum. Architecto
                        accusantium</p>
                      <small class="blog-post__date link-light d-block pb-4">Mar 16, 2020 · 6 min read</small>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="d-block p-3 p-lg-4">
                      <div class="blog-post__image mb-4">
                        <img loading="lazy" src="images/no-image.jpg" alt="blog post image">
                      </div>
                      <h3 class="fs-5 text-secondary fw-bold">Boost your conversion rate</h3>
                      <p class="fs-6 blog-post__description">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Architecto accusantium
                        praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum. Architecto
                        accusantium</p>
                      <small class="blog-post__date link-light d-block pb-4">Mar 16, 2020 · 6 min read</small>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="d-block p-3 p-lg-4">
                      <div class="blog-post__image mb-4">
                        <img loading="lazy" src="images/no-image.jpg" alt="blog post image">
                      </div>
                      <h3 class="fs-5 text-secondary fw-bold">Boost your conversion rate</h3>
                      <p class="fs-6 blog-post__description">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Architecto accusantium
                        praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum. Architecto
                        accusantium</p>
                      <small class="blog-post__date link-light d-block pb-4">Mar 16, 2020 · 6 min read</small>
                    </a>
                  </li>

                </ul>
                <div class="text-center">
                  <a href="#" class="btn btn-outline-secondary bt">
                    Read More <i class="bi bi-arrow-right fs-5"></i>
                  </a>
                </div>
              </section>

              <div class="gradient-bg">
                <div class="gradient-bg__inner pb-0">

                  <section id="community" class="d-flex align-items-center">
                    <div class="container-md">
                      <h2 class="text-center mb-4 mb-sm-5">Community</h2>
                      <p class="text-center mb-5">Learn more about Shinobi, chat with the team, others in the community,
                        and
                        culpa minim ad dolor do.
                        Do cupidatat eu excepteur tempor officia. Nostrud dolor nostrud proident magna officia ex ex
                        ullamco.</p>
                      <ul class="p-0 m-0">
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-twitter"></i>
                            <span class="text-white fw-bolder d-block">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-discord"></i>
                            <span class="text-white fw-bolder d-block">Discord</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-telegram"></i>
                            <span class="text-white fw-bolder d-block">Telegram</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-github"></i>
                            <span class="text-white fw-bolder d-block">Github</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </section>

                  <section id="faq">
                    <div class="container-md">
                      <h2 class="text-center mb-5">FAQ</h2>

                      <div class="accordion accordion-flush border-top" id="faqAccordion">

                        <div class="accordion-item border-bottom">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Accordion Item #1
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body pt-0">
                              This is the first item's accordion body. It is shown by default, until the
                              collapse plugin adds the appropriate classes that we use to style each element. These
                              classes
                              control the overall appearance, as well as the showing and hiding via CSS transitions. You
                              can
                              modify any of this with custom CSS or overriding our default variables. It's also worth
                              noting
                              that just about any HTML can go within the .accordion-body, though the transition
                              does limit overflow.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item border-bottom">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button fs-4 border-0 collapsed" type="button"
                              data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                              aria-controls="collapseTwo">
                              Accordion Item #2
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body pt-0">
                              This is the second item's accordion body. It is hidden by default, until the
                              collapse plugin adds the appropriate classes that we use to style each element. These
                              classes
                              control the overall appearance, as well as the showing and hiding via CSS transitions. You
                              can
                              modify any of this with custom CSS or overriding our default variables. It's also worth
                              noting
                              that just about any HTML can go within the .accordion-body, though the transition
                              does limit overflow.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item border-bottom">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button fs-4 border-0 collapsed" type="button"
                              data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                              aria-controls="collapseThree">
                              Accordion Item #3
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body pt-0">
                              This is the third item's accordion body. It is hidden by default, until the
                              collapse plugin adds the appropriate classes that we use to style each element. These
                              classes
                              control the overall appearance, as well as the showing and hiding via CSS transitions. You
                              can
                              modify any of this with custom CSS or overriding our default variables. It's also worth
                              noting
                              that just about any HTML can go within the .accordion-body, though the transition
                              does limit overflow.
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </section>

                  <section id="shall-we-waltz" class="container-lg text-center">
                    <div class="shall-we-waltz__inner p-2">
                      <div class="d-flex">
                        <span class="corner-top-left"><img src="images/card-corner.png"></span>
                        <span class="line-top flex-grow-1"><img src="images/card-line-top.png"></span>
                        <span class="corner-top-right"><img src="images/card-corner.png"></span>
                      </div>
                      <div class="d-flex">
                        <span class="line-left"><img src="images/card-line-left.png"></span>
                        <div class="shall-we-waltz__contents w-100">
                          <h2 class="text-secondary">Shall We Waltz?</h2>
                          <p class="text-secondary container-sm mb-4">Connect your crypto wallet to start using the
                            app
                            in
                            seconds.
                            No registration needed. Culpa minim ad dolor do.
                            Do cupidatat eu excepteur tempor officia.</p>
                          <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-gradient btn-lg">
                            Gladly!
                          </a>
                        </div>
                        <span class="line-right"><img src="images/card-line-right.png"></span>
                      </div>
                      <div class="d-flex">
                        <span class="corner-bottom-left"><img src="images/card-corner.png"></span>
                        <span class="line-bottom flex-grow-1"><img src="images/card-line-bottom.png"></span>
                        <span class="corner-bottom-right"><img src="images/card-corner.png"></span>
                      </div>
                    </div>
                  </section>

                  <footer id="page-footer" class="border-top py-5">
                    <div class="container-xl d-sm-flex justify-content-between">
                      <div>
                        <div class="mb-4 text-center text-sm-start">
                          <svg class="brand-logo me-4">
                            <use xlink:href="#brand-logo-male" class="bland-logo-male"></use>
                            <use xlink:href="#brand-logo-female" class="bland-logo-female"></use>
                          </svg>
                        </div>
                        <nav class="d-sm-flex fs-6">
                          <div class="flex-fill">
                            <p class="text-uppercase text-primary fw-bolder mb-1">General</p>
                            <ul class="p-0">
                              <li>
                                <a href="#economy">Waltz Economy</a>
                              </li>
                              <li>
                                <a href="#from-the-blog">Blog</a>
                              </li>
                              <li>
                                <a href="#faq">FAQ</a>
                              </li>
                            </ul>
                          </div>
                          <div class="flex-fill ms-sm-5">
                            <p class="text-uppercase text-primary fw-bolder mb-1">Documents</p>
                            <ul class="p-0">
                              <li>
                                <a href="#">Whitepaper</a>
                              </li>
                              <li>
                                <a href="#">Privacy Policy</a>
                              </li>
                              <li>
                                <a href="#">Terms of Use</a>
                              </li>
                            </ul>
                          </div>
                          <div class="flex-fill ms-sm-5">
                            <p class="text-uppercase text-primary fw-bolder mb-1">Community</p>
                            <ul class="p-0">
                              <li>
                                <a href="#" target="_blank" rel="noopener noreferrer">Twitter</a>
                              </li>
                              <li>
                                <a href="#" target="_blank" rel="noopener noreferrer">Discord</a>
                              </li>
                              <li>
                                <a href="#" target="_blank" rel="noopener noreferrer">Telegram</a>
                              </li>
                              <li>
                                <a href="#" target="_blank" rel="noopener noreferrer">Github</a>
                              </li>
                            </ul>
                          </div>
                        </nav>
                      </div>

                      <div class="position-relative">
                        <ul class="p-0 social-nav d-flex justify-content-center">
                          <li>
                            <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                              <i class="bi bi-twitter"></i>
                              <span>Twitter</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Discord">
                              <i class="bi bi-discord"></i>
                              <span>Discord</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
                              <i class="bi bi-telegram"></i>
                              <span>Telegram</span>
                            </a>
                          </li>
                          <li>
                            <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Github">
                              <i class="bi bi-github"></i>
                              <span>Github</span>
                            </a>
                          </li>
                        </ul>
                        <p class="copyright text-nowrap text-center text-sm-start">
                          © 2021 Waltz. All Rights Reserved.
                        </p>
                      </div>

                    </div>
                  </footer>

                </div>
              </div><!-- .gradient-bg -->

              <script>
                // WebFont lazy load
                var webfonts = document.querySelectorAll(".webfont");
                webfonts.forEach(function (webfont) {
                  webfont.rel = "stylesheet";
                });
              </script>

              <script>
                // lazyload
                document.addEventListener("DOMContentLoaded", function () {
                  var lazyloadImages;

                  if ("IntersectionObserver" in window) {
                    lazyloadImages = document.querySelectorAll(".lazy");
                    var imageObserver = new IntersectionObserver(function (entries, observer) {
                      entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                          var image = entry.target;
                          image.classList.remove("lazy");
                          imageObserver.unobserve(image);
                        }
                      });
                    });

                    lazyloadImages.forEach(function (image) {
                      imageObserver.observe(image);
                    });
                  } else {
                    var lazyloadThrottleTimeout;
                    lazyloadImages = document.querySelectorAll(".lazy");

                    function lazyload() {
                      if (lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                      }

                      lazyloadThrottleTimeout = setTimeout(function () {
                        var scrollTop = window.pageYOffset;
                        lazyloadImages.forEach(function (img) {
                          if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                          }
                        });
                        if (lazyloadImages.length == 0) {
                          document.removeEventListener("scroll", lazyload);
                          window.removeEventListener("resize", lazyload);
                          window.removeEventListener("orientationChange", lazyload);
                        }
                      }, 20);
                    }

                    document.addEventListener("scroll", lazyload);
                    window.addEventListener("resize", lazyload);
                    window.addEventListener("orientationChange", lazyload);
                  }
                })
              </script>

              <script src="js/modernizr-webp.js"></script>
          </body>

</html>
